

<!doctype html>
<html>
	<body>
	
		<h1>You didn't expected this much</h1>
		<ul class=notes >
			{% for note in notes %}
			<li><h2>{{ note.title }} </h2>{{note.content|safe}}
				{% endfor %}
		</ul>
		
		
		<form action'' method='post'>
			{{ form.hidden_tag()}}
			<p>
				{{ form.note_title.label }}<br>
				{{ form.note_title(size=32) }}
			</p>
			<p>
				{{ form.note_content.label }}<br>
				{{ form.note_content(size=64) }}
			</p>
			<p> {{ form.submit() }}</p>
		</form>

	</body>
</html>



